@import '../../../assets/scss/var.scss';

.sortP {
  .sortsSearches {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
    .sortDateFilter {
      flex: 0 0 50%;
      display: flex;
      @media screen and (max-width: 767px) {
        flex: 0 0 90%;
        width: 80%;
        margin-top: 4%;
      }
      mat-select {
        &:last-of-type {
          margin-left: 3%;
        }
        background-color: white;
        border: 1px solid $orangeColor;
        outline: none;
        color: $blueColor;
        flex: 0 0 32%;
        font-size: 13px;
        border-radius: 6px;
        ::ng-deep {
          .mat-select-trigger {
            height: 100%;
          }
          .mat-select-value-text {
            padding: 4% 3%;
            display: block;
          }
        }
        @media screen and (max-width: 767px) {
          flex: 0 0 46%;
        }
        @media screen and (max-width: 576px) {
          font-size: 9px;
        }
      }
      button {
        background-color: white;
        border: 1px solid $orangeColor;
        outline: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        flex: 0 0 35%;
        font-size: 13px;
        border-radius: 6px;
        @media screen and (max-width: 991px) {
          flex: 0 0 46%;
        }
        @media screen and (max-width: 576px) {
          font-size: 9px;
        }
        mat-icon {
          color: $orangeColor;
        }
        &.ins {
          margin-left: 3%;
        }
        &.clear {
          text-decoration: underline;
          color: $blueColor;
          font-size: 12px;
          border: none;
          flex: 0 0 15%;
          margin-left: 2%;
          &:disabled {
            opacity: .4;
            cursor: initial;
          }
        }
      }
    }
    .search {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      @media screen and (max-width: 767px) {
        width: 90%;
        margin-top: 2%;
        justify-content: center;
      }
      @media screen and (max-width: 576px) {
        margin-top: 4%;
      }
      input {
        flex: 0 0 64%;
        border-radius: 3px;
        border: 1px solid $blueColor;
        padding: 1% 7% 1% 2%;
        @media screen and (max-width: 576px) {
          width: 90%;
          flex: 0 0 90%;
        }
      }
      mat-icon {
        color: $blueColor;
        position: absolute;
        right: 2%;
        outline: none;
        cursor: pointer;
        @media screen and (max-width: 767px) {
          right: 19%;
        }
        @media screen and (max-width: 576px) {
          right: 6%;
        }
      }
    }
  }
}



.allCourses {
  margin-top: 3%;
  position: relative;
  min-height: 67vh;
  display: flex;
  flex-direction: column;
  .spinner {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    ::ng-deep {
      .mat-progress-spinner circle, .mat-spinner circle {
        stroke: $orangeColor;
      }
    }
  }
}
