@import '../../../assets/scss/var.scss';

.resetParent {
  .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  h3 {
    text-align: center;
    margin-top: 2%;
  }
  form {
    margin-top: 8%;
    input {
      padding: 2%;
      display: block;
      width: 100%;
      outline: none;
    }
    button[type="submit"] {
      width: 100%;
      color: $orangeColor;
      background-color: white;
      border: 1px solid $orangeColor;
      cursor: pointer;
      outline: none;
      display: block;
      margin-top: 2%;
      padding: 2%;
      border-radius: 4px;
      &:hover {
        background-color: $orangeColor;
        color: white;
      }
      &:disabled {
        &:hover {
          color: $orangeColor;
          background-color: white;
        }
        opacity: .3;
        cursor: initial;
      }
    }
  }
  .errors {
    margin-top: 5%;
    p {
      color: red;
      margin-top: 1px;
      font-size: 10px;
    }
  }
  .spinner {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    ::ng-deep {
      .mat-progress-spinner circle, .mat-spinner circle {
        stroke: $orangeColor;
      }
    }
  }
}

.passSent {
  .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  .imgP {
    width: 100%;
    img {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      display: block;
    }
  }
  h2 {
    margin-top: 5%;
    text-align: center;
  }
  button.gotosignin {
    width: 100%;
    color: $orangeColor;
    background-color: white;
    border: 1px solid $orangeColor;
    cursor: pointer;
    outline: none;
    display: block;
    margin-top: 2%;
    padding: 2%;
    border-radius: 4px;
    &:hover {
      background-color: $orangeColor;
      color: white;
    }
  }
}

::ng-deep {
  .cdk-overlay-pane {
      max-width: 95vw !important;
  }
  .mat-dialog-container {
      padding: 4% 6%;
      position: relative;
      min-width: 40vw;
      @media screen and (max-width: 415px) {
          min-width: 95vw;
      }
      .mat-ripple {
          display: none;
      }
  }
}
