<div class="resetParent" *ngIf="!resetPasswordSent">
  <div class="icon" (click)="closeDialog()"><mat-icon>close</mat-icon></div>
  <h3>Reset Password</h3>
  <form [formGroup]="resetForm">
    <input type="password" formControlName="password" placeholder="Type Your New Password" />
    <input type="password" formControlName="confirm" placeholder="Confirm Your New Password" />
    <button type="submit" *ngIf="!loading" [disabled]="!resetForm.valid||resetForm.get('password').value!==resetForm.get('confirm').value" (click)="onSubmitResetPassword($event)">Reset Your Password</button>
    <div class="spinner" *ngIf="loading">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
  </form>
  <div class="errors">
    <p *ngIf="resetForm.get('password').hasError('minlength')&&resetForm.get('password').touched">Password Should Have At least 8 characters</p>
    <p *ngIf="resetForm.get('password').value!==resetForm.get('confirm').value&&resetForm.get('confirm').touched&&resetForm.get('password').touched">Passwords do not Match</p>
    <p *ngIf="resetForm.get('password').touched&&resetForm.get('password').errors&&resetForm.get('password').errors.passwordError">Password Should have at least 1 upper character and 1 number</p>
    <p *ngIf="resetPasswordError">{{resetPasswordError}}</p>
  </div>
</div>

<div class="passSent" *ngIf="resetPasswordSent">
  <div class="icon" (click)="closeDialog()"><mat-icon>close</mat-icon></div>
  <div class="imgP">
    <img src="../../../assets/images/thumbsup.png" />
  </div>
  <h2>Password Has Been Reset</h2>
  <button class="gotosignin" (click)="onConf()">OK</button>
  <div class="errors">
    <p *ngIf="resetForm.get('password').hasError('minlength')&&resetForm.get('password').touched">Password Should Have At least 8 characters</p>
  </div>
</div>
